 
<div id="containerFooter">
  <footer class="page-footer  grey darken-2" >
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">О сервисе </h5>
		  <p class="grey-text text-lighten-4">Сервис  помогает  узнать  о выходе  новых  серий</p>
          <p class="grey-text text-lighten-4"> info@test1234.com</p>
	
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Ссылки</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" (click)="toTop()">Наверх</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="settings">Настройки</a></li>
         </ul>
        </div>
      </div> 
    </div>
    <div class="footer-copyright">
      <div class="container">
         © 2018 Copyright 
        <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
</div>